body {
  font-family: "Raleway", sans-serif;
  background-color: rgb(174, 174, 174);
}

/* Hero Section */

#Hero-Section {
  background-image: url("../img/lineas-de-colores_2560x1440_xtrafondos.com.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}

/* Mis trabajos */

#Mis-trabajos .image-top {
  height: 250px;
  background-color: blueviolet;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#Acerca-de-mi{
  background: rgb(183, 224, 206);
}

/* Contacto */

#Contacto form label {
  font-weight: 700;
  color: #373a3c;
}

#Contacto{
  background-color: rgb(116, 156, 203);
  padding: 2rem;
}

@media (max-width: 768px) {
  #Contacto form label {
    font-weight: 400;
  }

  .navbar-brand{
    width: 100px;
  }

}
